.slider{
    max-width: 100%;
    overflow-x: hidden;
    position: relative;
    

    .container{
        max-width: 100%;
        height: auto;
        position: relative;

        

        .arrow{
            color: #6B728E;
            font-size: 60px;
            z-index: 10;
            position: absolute;
            

            
        }
        .arrow.left{
            top: 50%;
            left: 10px;
            cursor: pointer;
            opacity: 40%;
        }
            .arrow.right{
                top: 50%;
                right: 10px;
                cursor: pointer;
                opacity: 40%;
            }
        .sliderItems{
            width: 100vw;
            height: auto;
            display: flex;
            transition: all 1s ease;

            .sliderItem{
                max-width: 100%;
                height: auto;
                

                img{
                    width: 100vw;
                    height: 35vw;
                    margin-top: 2rem;
                    object-fit: contain;
                  }
            }
        }
    }
}