.categories {
  display: flex;
  height: 80vh;
  gap: 10px;
  margin: 10px;
  position: relative;
  flex-wrap: wrap;
  justify-content: center;
  font-family: "Roboto", sans-serif;

  .row {
    flex: 1;
    display: flex;
    gap: 1px;
    position: relative;
    overflow: hidden;
    margin-bottom: 10px;

    img {
      width: 100%;
      height: 100%;
      object-fit: fill;
      cursor: pointer;
    }
    .col {
      position: relative;
      cursor: pointer;

    }

    &:hover{
        .catlayout{
          left: 0;
        }
    }
    .catlayout {
      width: 100%;
      height: 100%;
      background-color: #9A1663;
      position: absolute;
      top: 0;
      left: -100%;
      opacity: 60%;
      transition: all 1s ease;
      cursor: pointer;
    }

    button {
      position: absolute;
      top: 40%;
      left: calc(50% - 50px);
      width: 100px;
      height: 50px;
      border-radius: 10px;
      border: 1px solid #fef9ef;
      outline: none;
      color: #fef9ef;
      background-color: transparent;
      font-weight: 500;
      font-size: 20px;
      z-index: 99;
    }
  }
}
