.navbar{
    height: 120px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #50577A;
    background-color: #fcfcfc;
    position: sticky;
        top: 0;
        z-index: 99;
    
    .container{
        padding: 12px 36px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        
        

        .item{
            display: flex;
            align-items: center;
        }

        .left{
            display: flex;
            align-items: center;
            gap: 25px;
        }
        .center{
            display: flex;

            img{
                max-height: 100px;
            }
        }

        .right{
            display: flex;
            align-items: center;
            gap: 25px;
        }
        .icons{
            display: flex;
            gap: 15px;
            color: #50577A;

            .cartIcon{
                position: relative;
                span{
                    font-size: 12px;
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    background-color: #FFA500;
                    color: white;
                    position: absolute;
                    right: -10px;
                    top: -10px;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                }
            }
        }
    }


}